#outer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#clock {
    display: inline-block;
    vertical-align: middle;
    font-size: 200px;
}

#outer {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    text-align: center;
    background: darkgrey;
}